In [26]:
a=1
b=9
c=a+b
print(c)

10

# Document Title

### Date:20-07-2019

### Session Objectives

* To intraduce jupyter notebook
* To teach ***markdown*** jupyter
* To intraduce **python** basics
  * Basic Syntax(Variables,Assignment,Data Types)
  * Control Structures
    1. Conditional
    2. Repetitive
    
 <img src='python.png'/> 

[Link to main website](https://sites.google.com/s/1KvWn3SIsB-AphSUHtTm3wSMRn9xp281A/p/1yBBw62xji1tIj1dHl1fTjmVm2RLBtAv5/edit)

### Python Basics

In [27]:
print('Hello vyshnavi')#Single Parameter
print('vyshu'+'dvd' , end=' ')# concatination using +
print('dvd','vyshu')# multiple Parameters

Hello vyshnavi
vyshudvd dvd vyshu

In [28]:
#print('hello')

In [29]:
n = input('Enter a value')#capture the i/p and store it in it

Enter a value52

In [30]:
print(n)

52

In [31]:
n=int(n)#type conversion to integer and reassign
n*n/1231 -1233645 #Expression evaluation using

-1233642.8034118603

In [32]:
a=b=c=d=10#Assigning a single value to multiple variables
print(a,b,c,'\t',d)
a
b

10 10 10 	 10

10

In [36]:
type(a)
a=str(a)
type(a)

float

In [34]:
type(n)

int

In [35]:
a,b,c,d=1,2,3,4#Assigning multiple values to multiple variables
print(a,type(a),b,c,id(d))

1 <class 'int'> 2 3 140736594547616

In [37]:
b=float(b)
print(type(b))

<class 'float'>

### String Slicing

In [49]:
s ='python programing'
s[0]

'p'

In [50]:
s[-1]

'g'

In [60]:
s[0:6]
s[:6]

'python'

In [83]:
s[-1::-1]#reverse the string
s[::-1]

'gnimargorp nohtyp'

In [59]:
s[7:]
s[7:len(s)]

'programing'

In [61]:
s[::-2]

'giagr otp'

In [66]:
s[-1:6:-1]#reverse of substring

'gnimargorp'

In [68]:
s[5::-1]#reverse of substring

'nohtyp'

In [71]:
s2='123456'
s2[-1:2:-1]#reverse of the last len(s2)-3

'654'

In [74]:
s3='123456789'#reverse  of characters from index 5 to 3
s3[5:2:-1]

'654'

In [76]:
s3[::2]#Accesing alternate character

'13579'

In [80]:
s3[1::2]

'2468'

In [81]:
s3[::-2]

'97531'

### Functions in Python

In [88]:
def reverseString(s):#reverse the string
    return s[::-1]
print(reverseString(s))
reverseString(s3)

gnimargorp nohtyp

'987654321'

In [96]:
def reverseSubstring(s,i,j):#reverse the substring
    return s[j:i-1:-1]

reverseSubstring('abcde',1,3)

'dcb'

In [109]:
def reverseSubstring(s,i,j):#reverse the substring
    sub=s[i:j+1]
    return sub[::-1]

reverseSubstring('abcde',0,2)

'cba'

### Conditional Control Structures

In [110]:
def divisibilityTest(n):# function to text divisibility  by 9,10 and 11
    if (n%9 == 0 and n%11 ==0 and n%10 ==0):
        return True
    else:
        return False
divisibilityTest(990)

True

In [111]:
def divisibilityTest(n):
    if n%9 == 0 and n%11 ==0 and n%10 ==0:
        return True
    else:
        return False
divisibilityTest(990)

True

In [113]:
#Recurssive Function for a power n
def powerN(a,n):
    if n ==0:
        return 1
    return a * powerN(a,n-1)
powerN(2,6)

64

In [127]:
#function to check if a given string is a palindrome 
def ispalindrome(s):
    if(s == s[::-1]):
        return True
    else:
        return False
    
ispalindrome('9')

True

### Iteration in Python

In [119]:
for i in range (123,126):
    print(i)

123
124
125

In [122]:
#function to determine all numbers divisible by
#7 in a given range[lb,ub]
def divisible7(lb,ub):
    for i in range(lb,ub+1):
        if i%7 ==0:
            print(i)
    return   
divisible7 (1,70)

7
14
21
28
35
42
49
56
63
70

In [138]:
#function to generate N prime numbers 
from math import sqrt,floor

def isFactor(dividend,divisor):
    if dividend % divisor ==0:
        return True
    return False
    
def isPrime(n):
    for i in range(2,floor(sqrt(n))+1):
        if isFactor(n,i):
            return False
    return True

def genPrimes(k):
    primeCounter =0
    seqCounter =2 
    while primeCounter < k:
        if isPrime(seqCounter):
            print(seqCounter,end=' ')
            primeCounter+=1
        seqCounter+=1
    

        
genPrimes(100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541

### Higher Order Computation

In [141]:
num = 987 ** 987
print(type(num))
len(str(num))

<class 'int'>

2956

### Python Lists

In [145]:
li=[1,2,3,4,5,6,'python',5.6]
li

[1, 2, 3, 4, 5, 6, 'python', 5.6]

In [144]:
li[-1]

6

In [147]:
li[-2:]

['python', 5.6]

In [148]:
li[6][0]

'p'

In [150]:
li.append([321,543,765])
li

[1, 2, 3, 4, 5, 6, 'python', 5.6, 123, [321, 543, 765]]

In [151]:
li.remove(5.6)
li

[1, 2, 3, 4, 5, 6, 'python', 123, [321, 543, 765]]

In [152]:
li[8].remove(543)
li

[1, 2, 3, 4, 5, 6, 'python', 123, [321, 765]]

In [154]:
li.pop(3)
li

[1, 2, 3, 5, 6, 'python', 123, [321, 765]]

In [155]:
li.insert(1,546)
li

[1, 546, 2, 3, 5, 6, 'python', 123, [321, 765]]

In [157]:
li.sort()
li

TypeError: '<' not supported between instances of 'str' and 'int'